# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
print("Everly Wang")

Everly Wang

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
import pandas as pd
import numpy as np


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructors.csv" file
- Replace the values "British", "Japanese", and "Irish" with <br>
"UK", "Japan", "Ireland" in the column "nationality"


HINT: See the example in Lecture 12

In [5]:
constructor = pd.read_csv("data_raw/constructors.csv")
list_old = ["British", "Japanese", "Irish"]
list_new = ["UK", "Japan", "Ireland"]

constructor["nationality"]=constructor["nationality"].replace(list_old, list_new)

<font size = "5">

(b) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the maximum of "laps" by "driverId" <br> 
 using ``` .groupby().agg() ```
- Subset the drivers with a maximum of laps $\ge 10$
- Store the results of all these operations in a dataframe <br>
```sprint_results_agg ```

In [9]:
sprint= pd.read_csv("data_raw/sprint_results.csv")

sprint_results_agg=(sprint.query("constructorId==3").groupby("driverId").agg(maximum_lap=('laps', 'max'))
                    .query('maximum_lap>=10').reset_index())

<font size = "5">

(c) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1965","1966-1980","1980-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [15]:
races=pd.read_csv('data_raw/races.csv')

races['year_brackets']=(pd.cut(races['year'],
                                     bins=[1949,1965,1980,float('inf')],
                                     labels=['1950~1965', '1966~1980', '1981~onwards'],right=True))

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the maximum of "laps" by "driverId" <br> 
using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the maximum of laps using ``` .sort_values() ```

In [16]:
sprint= pd.read_csv("data_raw/sprint_results.csv")

team=(sprint.groupby('driverId').agg(max_laps=('laps', 'max'))
        .sort_values('max_laps', ascending=False)
        .reset_index())
display(team)

    driverId  max_laps
0          1        24
1          4        24
2        854        24
3        853        24
4        852        24
5        849        24
6        847        24
7        846        24
8        844        24
9        842        24
10       841        24
11       840        24
12       839        24
13       832        24
14       830        24
15       825        24
16       822        24
17       817        24
18       815        24
19        20        24
20         8        24
21       855        24
22       848        23
23         9        18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "time" to "time_unformatted"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [17]:
sprint= pd.read_csv("data_raw/sprint_results.csv")

sprint_rename=sprint.rename(columns={'time':'time_unformatted'})

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [20]:
sprint= pd.read_csv("data_raw/sprint_results.csv")
constructor = pd.read_csv("data_raw/constructors.csv")

merge_data=pd.merge(sprint, constructor[['constructorId','nationality']], on='constructorId', how='left')